# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Checksum
*.md5sum

# Boost
*.tar.bz2
*_download*
external/boost/boost*
external/boost/_build*

# Source
#src/ASIO_Timer/build*/*
